{% extends 'base.html.twig' %}

{% block title %}Posts list!{% endblock %}


{% block body %}
<div class="container mx-auto">
    <h1 class="text-2xl">Posts</h1>
    <table class="table-auto mt-4">
        <thead>
            <tr>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td class="px-4 py-2">{{ post.title }}</td>
                <td class="px-4 py-2">
                    <form method="post" action="{{ path('post_delete', {'id': post.id}) }}">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" class="bg-blue-500 text-gray-100 py-1 px-3 rounded">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}